[data-molecule-form=creditcard]
  [data-atom-input]
    background-color black
    &:nth-child(n+2)
      width 11.5%
      background-color red
      color: yellow
    &:nth-child(n+3)
      margin-left: 2.5%
      background-color blue

[data-molecule-form=transfer]
  [data-atom-input]
    &:nth-child(n+2)
      width 11.5%
      background-color green
    &:nth-child(n+3)
      margin-left: 2.5%
      background-color yellow
