[data-molecule-form=stripecreditcard]
  [data-atom-input]
    &:nth-child(2)
      width: 15% !important
    &:nth-child(3)
      margin-left: 1%
      margin-right: 39%
      width: 25% !important
    &:nth-child(4)
      width: 20% !important

[data-molecule-form=creditcard]
  [data-atom-input]
    &:nth-child(3)
      width: 15% !important
    &:nth-child(4)
      margin-left: 1%
      margin-right: 39%
      width: 25% !important
    &:nth-child(5)
      width: 20% !important

[data-molecule-form=accountnumber]
  [data-atom-input]
    &:nth-child(1)
      width: 20% !important
    &:nth-child(2)
      margin-left: 1%
      width: 15% !important
    &:nth-child(3)
      margin-left: 1%
      width: 63% !important
